
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!--> <html lang="ru"> <!--<![endif]-->
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="Товарный агрегатор Megano">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link href="{{ asset('favicon.ico') }}" rel="shortcut icon">
        <link rel="preload" href="{{ asset('assets/fonts/Roboto/Roboto-Regular.woff') }}" as="font">
        <link rel="preload" href="{{ asset('assets/fonts/Roboto/Roboto-Italic.woff') }}" as="font">
        <link rel="preload" href="{{ asset('assets/fonts/Roboto/Roboto-Bold.woff') }}" as="font">
        <link rel="preload" href="{{ asset('assets/fonts/Roboto/Roboto-Bold_Italic.woff') }}" as="font">
        <link rel="preload" href="{{ asset('assets/fonts/Roboto/Roboto-Light.woff') }}" as="font">
        <link rel="preload" href="{{ asset('assets/fonts/Roboto/Roboto-Light_Italic.woff') }}" as="font">
        <link rel="stylesheet" href="{{ asset('assets/css/fonts.css?v=98987060') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/basic.css?v=98987060') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/extra.css?v=98987060') }}">
        <!--[if lt IE 9]><script src="{{ asset('http://html5shiv.googlecode.com/svn/trunk/html5.js') }}"></script><![endif]-->
    </head>
    <body class="Site">
        <!--if lt IE 8
        p.error-browser
            | Ваш браузер&nbsp;
            em устарел!&nbsp;
            a(href="http://browsehappy.com/") Выберите новую версию
                +s
                | браузера здесь&nbsp;
            | для правильного отображения сайта.
        -->
        <header class="Header">
            <div class="ControlPanel">
                <div class="wrap">
                    <div class="row ControlPanel-row">
                        <div class="row-block">
                            <div class="row ControlPanel-rowSplit">
                                <div class="row-block"><a class="ControlPanel-title" href="{{ path('app_first_about') }}">О нас</a>
                                </div>
                                <div class="row-block hide_700"><span class="ControlPanel-title">Мы в соцсетях</span>
                                    <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                                        <li class="menu-item"><a class="menu-link" href="#"><img src="{{ asset('assets/img/icons/socialHeader/fb.svg') }}" alt="fb.svg"/></a></li>
                                        <li class="menu-item"><a class="menu-link" href="#"><img src="{{ asset('assets/img/icons/socialHeader/tw.svg') }}" alt="tw.svg"/></a></li>
                                        <li class="menu-item"><a class="menu-link" href="#"><img src="{{ asset('assets/img/icons/socialHeader/in.svg') }}" alt="in.svg"/></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <nav class="row-block">
                            <div class="row ControlPanel-rowSplit">
                                <div class="row-block"><a class="ControlPanel-title" href="{{ path('app_login') }}">Войти</a>&nbsp;/&nbsp;<a class="ControlPanel-title" href="{{ path('app_first_register') }}">Регистрация</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>
            <div class="wrap">
                <div class="row Header-rowMain">
                    <div class="row-block Header-logo"><a class="logo" href="{{ path('app_homepage') }}"><img class="logo-image" src="{{ asset('assets/img/logo.png') }}" alt="logo.png"/></a>
                    </div>
                    <nav class="row-block row-block_right Header-menu">
                        <div class="menuModal" id="navigate">
                            <ul class="menu menu_main">
                                <li class="menu-item"><a class="menu-link" href="{{ path('app_homepage') }}">Главная</a></li>
                                <li class="menu-item"><span class="menu-label menu-label_danger">Hot</span><a class="menu-link" href="{{ path('app_first_catalog') }}">Каталог</a></li>
                                <li class="menu-item"><a class="menu-link" href="{{ path('app_first_contacts') }}">Контакты</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="row-block">
                        <div class="CartBlock"><a class="CartBlock-block" href="{{ path('app_first_compare') }}"><img class="CartBlock-img" src="{{ asset('assets/img/icons/exchange.svg') }}" alt="exchange.svg"/><span class="CartBlock-amount">4</span></a><a class="CartBlock-block" href="cart.html"><img class="CartBlock-img" src="{{ asset('assets/img/icons/cart.svg') }}" alt="cart.svg"/><span class="CartBlock-amount">0</span></a>
                            <div class="CartBlock-block"><span class="CartBlock-price">0.00$</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-block Header-trigger"><a class="menuTrigger" href="#navigate">
                            <div class="menuTrigger-content">Показать навигацию
                            </div><span></span><span></span><span></span></a>
                    </div>
                </div>
            </div>
            <div class="Header-searchWrap">
                <div class="wrap">
                    <div class="Header-categories">
                        <div class="CategoriesButton">
                            <div class="CategoriesButton-title">
                                <div class="CategoriesButton-icon"><img src="{{ asset('assets/img/icons/allDep.svg') }}" alt="allDep.svg"/></div>
                                <span class="CategoriesButton-text">Категории</span>
                                <div class="CategoriesButton-arrow"></div>
                            </div>
                            <div class="CategoriesButton-content">
                                {{ render(controller('App\\Controller\\FirstController::menu')) }}
                            </div>
                        </div>
                    </div>
                    <div class="Header-searchLink"><img src="{{ asset('assets/img/icons/search.svg') }}" alt="search.svg"/>
                    </div>
                    <div class="Header-search">
                        <div class="search">
                            <form class="form form_search" action="#" method="post">
                                <input class="search-input" id="query" name="query" type="text" placeholder="Найти..."/>
                                <button class="search-button" type="submit" name="search" id="search"><img src="{{ asset('assets/img/icons/search.svg') }}" alt="search.svg"/>Поиск</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% block header %}{% endblock %}
        </header>
        {% block body %}{% endblock %}
        <footer class="Footer">
            <div class="wrap">
                <div class="row Footer-main">
                    <div class="row-block"><a class="logo Footer-logo" href="{{ path('app_homepage') }}"><img class="logo-image" src="{{ asset('assets/img/logo_footer.png') }}" alt="logo_footer.png"/></a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid  unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                        </p>
                        <ul class="menu menu_img menu_smallImg Footer-menuSoc">
                            <li class="menu-item"><a class="menu-link" href="#"><img src="{{ asset('assets/img/icons/socialFooter/fb.svg') }}" alt="fb.svg"/></a></li>
                            <li class="menu-item"><a class="menu-link" href="#"><img src="{{ asset('assets/img/icons/socialFooter/tw.svg') }}" alt="tw.svg"/></a></li>
                            <li class="menu-item"><a class="menu-link" href="#"><img src="{{ asset('assets/img/icons/socialFooter/in.svg') }}" alt="in.svg"/></a></li>
                        </ul>
                    </div>
                    <div class="row-block">
                        <strong class="Footer-title">Навигация</strong>
                        <ul class="menu menu_vt Footer-menu">
                            <li class="menu-item"><a class="menu-link" href="{{ path('app_homepage') }}">Главная</a></li>
                            <li class="menu-item"><a class="menu-link" href="{{ path('app_first_catalog') }}">Каталог</a></li>
                        </ul>
                    </div>
                    <div class="row-block">
                        <strong class="Footer-title">Дополнительно</strong>
                        <ul class="menu menu_vt Footer-menu">
                            <li class="menu-item"><a class="menu-link" href="{{ path('app_first_contacts') }}">Контакты</a></li>
                            <li class="menu-item"><a class="menu-link" href="{{ path('app_first_about') }}">О нас</a></li>
                        </ul>
                    </div>
                    <div class="row-block">
                        <strong class="Footer-title">Контакты</strong>
                        <p>Тел: 8-800-200-600<br>Email: megano@skillbox_diploma.com<br>Адрес: Каменск-Уральский<br>Заводской проезд, 1</p>
                    </div>
                </div>
            </div>
            <div class="Footer-copy">
                <div class="wrap">
                    <div class="row row_space">
                        <div class="row-block">© <a href="{{ path('app_homepage') }}">Megano.</a>&#32;Все права защищены.</div>
                        <div class="row-block"><span>Способы оплаты</span>
                            <div class="Footer-payments">
                                <div><img src="{{ asset('assets/img/payments/visa.png') }}" alt="visa.png"/></div>
                                <div><img src="{{ asset('assets/img/payments/mastercard.png') }}" alt="mastercard.png"/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--+Middle-->
        <!--    +div.-top-->
        <!--        +breadcrumbs('Главная','Портфолио')-->
        <!--    +Article('portfolio')-->
        <!---->
        <script src="{{ asset('assets/plg/jQuery/jquery-3.5.0.slim.min.js') }}"></script>
        <script src="{{ asset('assets/plg/form/jquery.form.js') }}"></script>
        <script src="{{ asset('assets/plg/form/jquery.maskedinput.min.js') }}"></script>
        <script src="{{ asset('assets/plg/range/ion.rangeSlider.min.js') }}"></script>
        <script src="{{ asset('assets/plg/Slider/slick.min.js') }}"></script>
        <script src="{{ asset('assets/js/scripts.js') }}"></script>
    </body>
</html>
