{% for category in categories %}
    {% if category['childs'] is defined %}
        <div class="CategoriesButton-link"><a href="{{ path('app_first_category', { category: category['name'] }) }}">
            <div class="CategoriesButton-icon"><img src="{{ asset('assets/img/icons/departments/3.svg') }}" alt="3.svg"/>
            </div><span class="CategoriesButton-text">{{ category['name'] }}</span></a><a class="CategoriesButton-arrow"></a>
        {% include 'catalog/submenu.html.twig' with {'categories': category} %}
        </div>
    {% else %}
        <div class="CategoriesButton-link"><a href="{{ path('app_first_category', { category: category['name'] }) }}">
            <div class="CategoriesButton-icon"><img src="{{ asset('assets/img/icons/departments/3.svg') }}" alt="3.svg"/>
            </div><span class="CategoriesButton-text">{{ category['name'] }}</span></a><a class="CategoriesButton-arrow"></a>
        </div>
    {% endif %}
{% endfor %}
