<div class="CategoriesButton-submenu">
    {% for subcategory in category['childs'] %}
        {% if subcategory['childs'] is defined %}
            <a class="CategoriesButton-link" href="{{ path('app_first_category', { category: subcategory['name'] }) }}">
                <div class="CategoriesButton-icon"><img src="{{ asset('assets/img/icons/departments/1.svg') }}" alt="1.svg"/>
                </div><span class="CategoriesButton-text">{{ subcategory['name'] }}</span>
            </a>
            {% include 'catalog/submenu.html.twig' with {'category': subcategory} %}
        {% else %}
            <a class="CategoriesButton-link" href="{{ path('app_first_category', { category: subcategory['name'] }) }}">
                <div class="CategoriesButton-icon"><img src="{{ asset('assets/img/icons/departments/1.svg') }}" alt="1.svg"/>
                </div><span class="CategoriesButton-text">{{ subcategory['name'] }}</span>
            </a>
        {% endif %}
    {% endfor %}
</div>